<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <p class="text-center ">Once you have completed the payment you will be redirected to a download link and the tracks will be added to your account</p>
    <div class="shopping-cart">
      <%= render 'carts/shopping_cart' %>
    </div>
    
   
  </div>
</div>
